@import '../../utilities/style-variables';

:host {
  display: block;
  margin: auto;
  padding: $padding-inner - 35;

  @media screen and (min-width: $min-break-point) {
    padding: $padding-inner;
  }

  @media screen and (max-width: $max-break-point) {
    max-width: 500px;
  }

  .wrapper {
    display: block;
    margin: auto;
    width: 100%;

    @media screen and (max-width: $max-break-point) {
      max-width: 500px;
    }
  }
}
