$black: #000;
$white: #fff;
$yellow: #ffd500;
$orange_1: #ff9200;
$orange_2: #ffd59d;
$grey_1: #383838;
$grey_2: #b1bfcd;
$grey_3: #cad7dd;
$grey_4: #f5f8f9;
$grey_5: #fcfcfd;
$turquoise: #60e6c5;

$padding-inner: 50px;
$max-height-outer: 677px;
$min-height-inner: $max-height-outer - $padding-inner;
$hide-vw: calc(-100vw);
$hide-vh: calc(-100vh);
$border-radius: 30px;

$border1: 1px solid;

$min-break-point: 992px;
$max-break-point: 991px;

$mobile-min-break-point: 481px;
$mobile-max-break-point: 480px;