<div class="wrapper">
    <div class="card-wrapper">
        <div class="profile-wrapper">
            <app-profile (toggleStatus)="togglePanel($event)"></app-profile>
        </div>
        <div class="content-wrapper">
            <div class="panel-wrapper" [class.active]="!!toggle" [class.in-active]="!toggle">
                <app-slide>
                    <h2>My world today</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                    eget, tempor sit amet, ante. <a routerLink="">View all days</a> eu libero sit amet quam
                    egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
                    leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum
                    erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
                    Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum
                    orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis
                    pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus,
                    tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
                    erat</p>
                </app-slide>
            </div>
            <div #form class="form-wrapper">
                <app-form></app-form>
            </div>
        </div>
    </div>
</div>