@import '../../utilities/style-variables';

:host {
  a {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      color: $yellow;
    }
  }

  .wrapper {
    max-width: 990px;
    margin: auto;

    @media screen and (min-width: $min-break-point) {
      padding: 20px;
    }

    .card-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: $yellow;
      flex-direction: column;
      min-height: calc(100vh);

      @media screen and (min-width: $min-break-point) {
        min-height: $max-height-outer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: $border-radius;
        flex-direction: row;
      }

      .profile-wrapper {
        flex: 1;
        z-index: 3;
        height: 100%;
        min-height: $min-height-inner - 100;
        padding: $padding-inner - 25;
        background-color: $yellow;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @media screen and (min-width: $min-break-point) {
          min-height: $min-height-inner;
          width: 100%;
        }

        @media screen and (max-width: $max-break-point) {
          min-height: calc(100vh);
        }
      }

      .content-wrapper {
        flex: 2;
        position: relative;

        @media screen and (max-width: $max-break-point) {
          height: calc(100vh);
        }

        .panel-wrapper,
        .form-wrapper {
          height: 100%;
        }

        .panel-wrapper {
          z-index: 2;
          position: absolute;
          background-color: $orange_1;
          width: 100%;
          overflow-y: scroll;

          @media screen and (min-width: $min-break-point) {
            max-height: $max-height-outer;
            max-width: 627px;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            transition: left 0.5s;
            left: $hide-vw;

            &.active {
              left: 0;
            }
          }

          @media screen and (max-width: $max-break-point) {
            max-height: 200px;
            transition: top 0.5s, max-height 0.5s 0.15s;
            top: $hide-vh;

            &.active {
              transition: top 0.5s, max-height 0.5s;
              max-height: calc(100vh + 220px);
              top: 0;
            }
          }

          @media screen and (max-width: $mobile-max-break-point) {
            &.active {
              max-height: calc(100vh + 500px);
            }
          }
        }

        .form-wrapper {
          background-color: $white;
        }
      }
    }
  }
}
