<div class="inner-wrapper">
    <div class="image">
        <img src="./../../assets/face.svg"/>
    </div>
    <div class="info">
        <h2 class="header">Front-end challenge!</h2>
        <p class="sub-header">This is a design that you will need to code up and impress us.</p>
    </div>
    <div class="button" (click)="togglePanel()">
        <div class="chevron-wrapper" [class.active]="!!toggle">
            <img src="./../../assets/arrow.svg"/>
        </div>
    </div>
</div>