@import '../../utilities/style-variables';

:host {
    display: block;
    margin: auto;
    @media screen and (max-width: $max-break-point) {
        max-width: 500px;
    }
  .inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    .image,
    .info {
      .header {
        font-weight: normal;
        font-size: 30px;
        margin: 0;
      }

      .sub-header {
        padding: 0 25px;
      }
    }

    .image {
        img {
        width: 150px;
        }
        margin-bottom: 10%;
        @media screen and (min-width: $min-break-point) {
            margin-bottom: 25%;
        }
    }

    .button {
      width: 25px;
      height: 25px;
      padding: 16px;
      background-color: $grey_1;
      border-radius: 100%;
      cursor: pointer;
      margin-top: 5%;
      @media screen and (min-width: $min-break-point) {
        margin-top: 15%;
      }

      &:hover {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
      }

      .chevron-wrapper {
        width: 100%;
        height: 100%;
        transition: transform 0.5s;

        img {
          width: 100%;
          height: 100%;

          @media screen and (max-width: $max-break-point) {
            transform: rotate(90deg);
          }
        }

        &.active {
          transform: rotateX(180deg);
        }

        @media screen and (min-width: $min-break-point) {
          &.active {
            transform: rotateY(180deg);
          }
        }
      }
    }
  }
}
