@import '../../utilities/style-variables';

:host {
  display: block;
  margin: auto;
  padding: $padding-inner - 35;

  @media screen and (min-width: $min-break-point) {
    padding: $padding-inner;
  }

  @media screen and (max-width: $max-break-point) {
    max-width: 500px;
  }

  .wrapper {
    @media screen and (min-width: $min-break-point) {
      padding: 10px 50px;
    }

    .form-group {
      display: flex;
      align-items: center;

      &.margin-top {
        margin-top: 30px;
      }

      @media screen and (max-width: $max-break-point) {
        align-items: flex-start;
        flex-direction: column;
      }

      .label-wrapper {
        min-width: 100px;

        label {
          font-weight: 300;
          font-size: 0.9em;
        }
      }

      .field-wrapper {
        flex: auto;
        width: 100%;
        position: relative;

        input[type=text],
        input[type=date] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border-radius: 4px;
          box-sizing: border-box;
          background-color: $grey_4;
          border: $border1 transparent;
          color: $grey_2;

          &:active,
          &:focus,
          &:focus-visible {
            border: $border1 $grey_3;
            background-color: $grey_5;
            outline: transparent;
            color: $grey_1;
          }
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
          background: url(./../../../assets/calendar.svg) no-repeat;
        }

        .list-item {
          display: flex;
          flex-wrap: wrap;
          padding: 10px 0;

          .space-between {
            justify-content: space-between;
          }

          .radio-wrapper {
            position: relative;
            padding-right: 6px;
            padding-top: 5px;
            padding-bottom: 5px;
            flex: 1;

            &:last-child {
              padding-right: 0;
            }

            input[type="radio"] {
              position: absolute;
              top: 0px;
              left: 0px;
              height: 15px;
              width: 15px;
              min-height: 15px;
              min-width: 15px;
              -webkit-appearance: none;
            }

            .radio-label {
              display: flex;
              position: relative;
              justify-content: flex-start;
              align-items: center;
              color: $grey_2;
              cursor: pointer;
              font-weight: 100;
              font-size: 0.9em;

              &:before,
              &:after {
                pointer-events: none;
              }

              &:before {
                display: flex;
                content: ' ';
                height: 50px;
                width: 50px;
                min-height: 50px;
                min-width: 50px;
                border-radius: 100%;
                background: $grey_4;
                margin-right: 10px;
                background-repeat: no-repeat, repeat;
                background-size: 28px auto;
                background-position: center;
              }

              &:after {
                position: absolute;
                display: flex;
                content: ' ';
                left: 2px;
                background: none;
                transform: scale(0);
                transition: transform .1s ease;
                transform-origin: center center;
              }
            }

            input[type="radio"]:checked+.radio-label:after {
              opacity: 1;
              transform: scale(.8);
            }

            input[type="radio"]:checked+*::before {
              background-color: $grey_2;
            }

            &.card {
              .radio-label:before {
                background-image: url(./../../../assets/card.svg);
              }

              input[type="radio"]:checked+*::before {
                background-image: url(./../../../assets/card--white.svg);
              }
            }

            &.female {

              .radio-label:before,
              input[type="radio"]:checked+*::before {
                background-size: 29px 29px;
                background-position: 11px 15px;
              }

              .radio-label:before {
                background-image: url(./../../../assets/venus-symbol.svg);
              }

              input[type="radio"]:checked+*::before {
                background-image: url(./../../../assets/venus-symbol--white.svg);
              }
            }

            &.male {

              .radio-label:before,
              input[type="radio"]:checked+*::before {
                background-size: 25px 25px;
                background-position: 14px 11px;
              }

              .radio-label:before {
                background-image: url(./../../../assets/mars-symbol.svg);
              }

              input[type="radio"]:checked+*::before {
                background-image: url(./../../../assets/mars-symbol--white.svg);
              }
            }
          }

        }

        .validation-message {
          display: none;
          color: $orange_1;
          font-size: 10px;
          position: absolute;
          right: 0;
          bottom: -5px;
        }
      }

      &.invalid {
        .label-wrapper label {
          color: $orange_1;
          position: relative;

          &:before {
            position: absolute;
            display: block;
            content: ' ';
            height: 7px;
            width: 7px;
            border-radius: 100%;
            background: $orange_1;
            left: -9px;
            top: 2px;
          }
        }

        .field-wrapper {
          input[type=text],
          input[type=date] {
            border: $border1 $orange_1;
            color: $orange_1;
          }
          .radio-wrapper {
            .radio-label {
              &:before {
                background-color: $orange_2 !important;
              }
            }
          }

          .validation-message {
            display: block;
          }
        }
      }
    }

    .button-group {
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: $mobile-max-break-point) {
        flex-direction: column;
      }

      .button {
        display: block;

        input[type=submit],
        input[type=button] {
          width: 100%;
          color: $white;
          padding: 15px 50px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          background-color: $grey_4;
          color: $grey_1;

          &.submit {
            background-color: $turquoise;
            color: $white;
          }

          &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          }
        }

        @media screen and (min-width: $mobile-min-break-point) {
          &:first-child {
            padding-right: 15px;
          }
        }

        @media screen and (max-width: $mobile-max-break-point) {
          flex: auto;
        }
      }
    }
  }
}
