
<form class="wrapper">
    <div class="form-group">
        <div class="label-wrapper">
            <label for="name">Name</label>
        </div>
        <div class="field-wrapper">
            <input value="Kendall Jenner" type="text" id="name" name="name" placeholder="Your name..">
            <span class="validation-message">Enter your name</span>
        </div>
    </div>

    <div class="form-group">
        <div class="label-wrapper">
            <label>Gender</label>
        </div>
        <div class="field-wrapper">
            <div class="list-item">
                <div class="radio-wrapper male">
                    <input type="radio" name="gender"
                        value="male" id="male">
                    <label class="radio-label" for="male">Male</label>
                </div>
                <div class="radio-wrapper female">
                    <input type="radio" name="gender"
                        value="female" id="female">
                    <label class="radio-label" for="female">Female</label>
                </div>
                <span class="validation-message">Please make a selection</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="label-wrapper">
            <label for="date">Date of Birth</label>
        </div>
        <div class="field-wrapper">
            <input type="date" id="date" name="date" [value]="date">
            <!-- {{date | date:'dd/MM/yyyy'}} -->
        </div>
    </div>

    <div class="form-group invalid">
        <div class="label-wrapper">
            <label for="email">Email</label>
        </div>
        <div class="field-wrapper">
            <input value="kendall@email.com" type="text" id="email" name="email" placeholder="username@domain.com">
            <span class="validation-message">Invalid email address</span>
        </div>
    </div>

    <div class="form-group">
        <div class="label-wrapper">
            <label for="mobile">Mobile</label>
        </div>
        <div class="field-wrapper">
            <input value="+91 98765 43210" type="text" id="mobile" name="mobile" placeholder="+91 98765 43210">
            <span class="validation-message">Invalid phone number</span>
        </div>
    </div>

    <div class="form-group">
        <div class="label-wrapper">
            <label for="id">Customer ID</label>
        </div>
        <div class="field-wrapper">
            <input value="576802-ERD0348 45" type="text" id="id" name="id" placeholder="576802-ERD0348 45">
            <span class="validation-message">Invalid ID number</span>
        </div>
    </div>

    <div class="form-group margin-top">
        <div class="label-wrapper">
            <label>Membership</label>
        </div>
        <div class="field-wrapper">
            <div class="list-item space-between">
                <div class="radio-wrapper card">
                    <input checked type="radio" name="membership"
                        value="classic" id="classic">
                    <label class="radio-label" for="classic">Classic</label>
                </div>

                <div class="radio-wrapper card">
                    <input type="radio" name="membership"
                        value="silver" id="silver">
                    <label class="radio-label" for="silver">Silver</label>
                </div>

                <div class="radio-wrapper card">
                    <input type="radio" name="membership"
                        value="gold" id="gold">
                    <label class="radio-label" for="gold">Gold</label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="button-group">
        <div class="button">
            <input type="button" value="CANCEL">
        </div>
        <div class="button">
            <input class="submit" type="button" value="SUBMIT">
        </div>
    </div>
</form>